/* Roboto mono google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    height:100vh;
    color: white;
    background-color: black;
}

/* TypewriterSlide start */
.TypewriterSlide {
    background: url('lavaliz.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

.TypewriterSlide * {
    font-weight: 200;
    margin: 0.4rem;
}

.TypewriterSlide h1 {
    font-size: 3.5 rem;
}

.TypewriterSlide h2 {
    font-size: 2 rem;
    color: blanchedalmond;
}

/* Cursor */
.txt-type > .txt {
    border-right: 0.2rem solid blanchedalmond;
}

.ThreeBarBTN {
    font-size: 3em; 
    cursor: pointer;
}
/* TypewriterSlide end */

/* AboutMe start */

.AboutMe {
    height: 100%;
    padding: 0 3rem;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.AboutMe h2 {
    font-size: 3rem;
}

.AboutMe h3{
    color: lightgreen;
}
/* AboutMe end */

/* Navbar start */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3rem;
}

.sidenav a {
    padding: .5rem .5rem .5rem 2rem;
    text-decoration: none;
    font-size: 2rem;
    color: blanchedalmond;
    display: block;
    transition: .3s;
}

.sidenav a:hover {
    color: white;
}

.sidenav .closebtn {
    font-size: 3rem;
}
/* Navbar end */

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 1rem;}
    .sidenav a {font-size: 1rem;}
    
}

@media(min-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
}

/* scrollBar start */
::-webkit-scrollbar{
    display: none; /*makes the scroll disapear */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#ProgressBar{
    position: fixed;
    top: 0;
    right: 0;
    width: .4rem;
    background: white /* linear-gradient(to top, #008aff, #00ffe7); 
    animation: animate 5s linear infinite; */ /* for RGB*/
}

@keyframes animate {
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
/* scrollBar end */